@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: no-repeat fixed;
    background-size: cover;
    min-height: 100%;
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
}

.grid-container>* {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: rgb(246, 255, 119);
}

.navbar{
    grid-area:navbar;
    background-color: rgb(110, 255, 255);
}


.sidebar{
    grid-area:sidebar;
    background-color: rgb(255, 114, 217);
}
.main{
    grid-area:main;
    background-color: rgb(127, 255, 88);
}

.footer{
    grid-area:footer;
    background-color: rgb(255, 0, 0);
}



.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
        'header'
        'navbar'
        'sidebar'
        'main'
        'footer';
}

@media screen and (min-width: 600px){
    .grid-container {
      /*  grid-template-columns: 150px auto;
        grid-template-rows: auto 100px;
       /* grid-template-areas: 
        'header header'
        'navbar navbar'
        'sidebar main'
        'footer footer'; */


        grid-template:
             
        'header header' 50px
        'navbar navbar' 50px
        'sidebar main' auto
        'footer footer' auto /
         200px     auto                 ;
         
    }
    .main>div{ width: auto;}
}
    
